<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аморальная Дырочка</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</head>

<body>
<div id="header">
    <div id="logo">
        <div id="logo_img"></div>
        <div id="logo_title">Аморальная Дырочка</div>
    </div>
    <div id="vkAuth">Войти с помощью ВК</div>
</div>
<div id="panel">
    <input type="text" placeholder="Поиск" class="find_input">
    <div id="upload_but">Загрузить</div>
</div>
<div id="wrapper">
    <div id="meme0"></div>
    <div id="meme1"></div>
    <div id="meme2"></div>
    <div id="meme3"></div>
    <div id="meme4"></div>
    <div id="meme5"></div>
    <div id="meme6"></div>
    <div id="meme7"></div>
    <div id="meme8"></div>
</div>
<div id="footer">Footer</div>
</body>
</html>