<!DOCTYPE html>
<html lang="ru">
    <% include ../head %>
	
	<body>
		<% include ../header %>
		<div id="div">
            <form action="/ya_moder_bl/blVerif" name="blVerForm" method="post">
                <% if (iL){ %>
                <h3><%="Кто нахуй?"%></h3>
                <%} else if (iP) {%>
                <h3><%="Не верю! Перепроверь написание пароля."%></h3>
                <%} else {%>
                <h2 style="margin-top: 60px; text-align: center; line-height: 60px; color: #1976d2;">
                    А ты точно модер?
                </h2>
                <%}%>
                <table class="blVerTable">
                    <tr>
                        <td>Логин: </td>
                        <td><input type="text" name="login_bl" class="login_bl"></td>
                    </tr>
                    <tr>
                        <td>Пароль: </td>
                        <td><input type="password" name="pswd_bl" class="pswd_bl"></td>
                    </tr>
                    <tr class="blVerBtn">
                        <td colspan="2">
                            <input type="submit" name="verify" value="А ты проверь!">
                            <input type="reset" value="Очистить">
                        </td>
                    </tr>
                </table>
            </form>
		</div>
		<% include ../footer %>
	</body>
</html>