<div id="header">
    <div id="logo">
        <div id="logo_img" title="Главная страница">
            <a href="/" class="logo_img" title="Главная страница">
                <img src="/pics/logo.jpg" alt="Главная страница лого">
            </a>
        </div>
        <div id="logo_title">Аморальная Дырочка</div>
    </div>
    <input type="text" placeholder="Поиск" class="find_input" size="15">
    <div id="menu_but"><a href="/upload" target="_blank" title="Предложить свой мем">+</a></div>
</div>