<!doctype html>
<html lang="ru">
    <% include head %>

    <body>
        <% include header %>
        <div id="main">
            <div id="wrapper1">
                <div id="post" style="background-image:url(<%=url %>);">
                    <div id='complain_panel'></div>
                </div>
                <p id="tags">
                    <% for (let i = 0; i < data.tags.split(',').length; i++) { %>
                    <span><%= '#' + data.tags.split(',')[i].toString()%></span>
                    <% } %>
                </p>
                <p class="date">Выложено: <%= data.date %></p>
                <p class="source">Источник: </p>
                <div id="share_copy" data-clipboard-target="#foo">Скопировать ссылку на мем</div>
                <a class="share_copy" href="<%=url %>" download="">Скачать мем</a>
            </div>
        </div>
        <div id="popup_bg">
            <div id="popup_content">
                <div id="compl_edit_tags_form">
                    <form action="/report/tags" method="post">
                        <table>
                            <tr>
                                <td><p>Ваш Email:</p></td>
                                <td><input type="email" name="email"></td>
                            </tr>
                            <tr>
                                <td><p>В чем проблема?</p></td>
                                <td><textarea name="reason"></textarea></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Создать запрос" name="subnit_report"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <% include footer %>
    </body>
</html>
