<!doctype html>
<html lang="ru">
    <% include head %>

    <body>
        <% include header %>
        <div id="main">
            <div id="wrapper_upl">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <p class="upload_info">Вы попали на страницу предложений. После отправки мема один из наших модераторов рассмотрит его соответствие с нашей политикой и, в случае успеха, он появится на главной странице. 
                    <br>
                    Дабы отправить запрос на добавление вашего (или не вашего) мема нажмите "выбрать файл" и найдите мем (формат jpg/jpeg/png/gif), нажмите "выбрать" и нажмите кнопку "загрузить".<br>
                    В случае положительного ответа вам на указанную почту придет письмо с ссылокй на ваш предложенный мем (если модератором были совершены правки тегов, он обязан указать в письме их). 
                    <br>
                    В случае отказа на вашу почту придет письмо с причиной(нами) отказа.
                    <br>
                    Спасибо за понимание, с любовью ваша дирочка!
                    </p>
                    <% if (isErr) { %>
                    <p><%= err_msg %></p>
                    <% } %>
                    <div id="upload_form_region">
                        <label id="meme_file_label" for="meme_file">Выбрать файл</label>
                        <input type="file" accept=".jpg, .png" id="meme_file" name="meme_file">
                        <img alt="meme" id="img" style="display: none;" />
                        <p class="fileUrl"></p>
                        <table id="table_to_upload" cellpadding="10">
                            <tr class="tags_input_p">
                                <td><label for="email_for_ans">Введите ваш электронный адрес: </label></td>
                                <td><input type="email" id="email_for_ans"/></td>
                            </tr>
                            <tr class="tags_input_p">
                                <td><label for="input_tags">Теги: </label></td>
                                <td><input type="text" name="tags" id="input_tags" /></td>
                            </tr>
                        </table>
                        <input id="upload_meme_but" value="Загрузить" type="submit">
                    </div>
                </form>
            </div>
        </div>
        <% include footer %>

        <script>
            let logo = document.getElementById('logo_title');
            let menu_but = document.getElementById('menu_but');
            logo.style.display = 'none';
            menu_but.style.display = 'none';
        </script>
    </body>
</html>